.bread-crumb-container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #eeeeee;
  padding-bottom: 1rem;

  .crumb {
    color: #999999;
    font-size: 14px;

    &:last-child {
      color: #666666;
      font-weight: bold;
      &:after {
        content: '';
      }
    }

    &:after {
      content: ' \003e';
    }
  }

  .crumb.last {
    color: #666666;
    font-weight: bold;
  }

  .no-category {
    color: #999999;
    font-size: 14px;
  }
}
