.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffe600;
  color: #333333;

  .logo-ml {
    margin-right: 10px;
    height: 19px;
    vertical-align: middle;
  }

  .search-bar-form {
    width: 600px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
  }

  .search-input {
    padding: 5px;
    width: 100%;
    border: none;
    font-size: 14px;
    border-radius: 3px 0 0 3px;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0 3px 3px 0;
    border: none;
    background-color: white;
  }

  .icon-search {
    background: url(../../assets/ic_Search.png) no-repeat;
  }

  .search-logo {
    height: 19px;
  }
}
